
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container {
  margin: 16px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.section {
  background: #a9a4a4;
  padding: 15px;
  margin: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.budget {
  grid-column: span 2;
}

input {
  margin: 2px;
  padding: 2px;
}

button {
  padding: 6px;
  margin: 2px;
}

select {
  padding: 3px;
  margin-right: 2px;
}
